<html>
    <head>
        <title>Welcome to Judgement Day</title>
    </head>
    <body>
        <p> Sign In </p>
        <form action = "{{url_for('process_login')}}" method="POST">

            Username: <input type="text" name="username" /><br>
            Password: <input type="password" name="password"/><br>

            <input type="submit" value="Sign In"/>
            <p></p>
        </form>

        <form action = "/signup">
            <input type="submit" value="Sign Up"/>
        </form>
    </body>
</html>