<html>
    <body> 
        <p> Sign Up </p>
        <form action = "/add_user">
            <!-- <label for="email">Email</label> -->
            Email: <input type="text" name="email"/>
            <br>

            <!-- <label for="password">Create Password</label> -->
            Password: <input type="password" name="password"/>
            <br>
            <!-- <label for="gender">Gender (M/F)?</label> -->
            Gender: <input type="radio" name="gender" value="M"/>Male
                    <input type="radio" name="gender" value="F"/>Female
            <br>
            Age: <input type="text" name="age"/>
            <br>
            Zipcode: <input type="text" name="zipcode"/>
            <br>
            <!-- <label for="occupation">What's your occupation?</label> -->
            Occupation<input type="text" name="occupation"/>
            <br>
            <input type="submit" value="Sign Up"/> 
    </body>
</html>
