{% extends "layout.html" %}
 {% block nav %}
 		{% if g.user!=None %}
    	<li><a href="{{url_for('user')}}">My Ratings</a></li>
    	<li><a href="{{url_for('logout')}}">Logout</a></li>
    	{% endif %}

{% endblock %}


{% block body %}

	<div class="jumbotron">
        

        <h1>Search for a movie</h1>
 

			<form action="{{url_for('search')}}" method="POST">
    		<input type="text" name="query" placeholder="Movie title"/><br><br>	
        	<input type="submit" class="btn btn-lg btn-success" value="Search"/>
			</form>
	</div>






{% endblock %}