{% extends "layout.html" %}
 {% block body %}

        <div class="jumbotron">
        <h1> Create an account </h1>

      
    
        <form action = "{{url_for ('create_user') }}" method="POST">
            <!-- <label for="email">Email</label> -->
          
            <div class="input-group">


            <input type="text" class="form-control" placeholder="Email"name="email"/>

            </div>
            <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" name="password"/>

            <div class="input-group">
            <span class="input-group-addon form-control">
           
            Gender:
             <input type="radio" name="gender" value="M"/>Male
            <input type="radio" name="gender" value="F"/>Female
            </span>
            </div>

                
            </div><!-- input-group -->

            <div class="input-group">
            <input type="text" class="form-control" placeholder="Age"name="age"/>
            </div>
  
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Zipcode" name="zipcode"/>
            </div>
            <div class="input-group">
            <!-- <label for="occupation">What's your occupation?</label> -->
            <input type="text" class="form-control" placeholder="Occupation" name="occupation"/>
            </div>

            <input type="submit" class="btn btn-lg btn-success" value="Sign Up"/>
       
        </div>
      
        </div>
{% endblock %}